.card {
  color: #013113;
  text-align: center;
  margin: 15px 40px;
  background-color: #efefef;
}

.card img {
  transition: 0.3s ease-in-out;
}

.card img:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.card-title {
  color: #efefef;
  margin: 0px;
}

ul {
  list-style: none;
  font-size: medium;
  text-align: left;
}

.icon {
  margin-right: 15px;
}

.btn {
  color: #efefef;
  background-color: #74A45D;

  &:hover {
    background: #013113 !important;
  }
}

.card-header {
  font-size: 30px;
  background-color: #013113;
}
