<div class="container-fluid">
  <div class="input-group">
    <input #plantName type="search" matInput [matAutocomplete]="auto" class="form-control rounded" placeholder="zoeken"
      [formControl]="mycontrol" aria-label="Search" aria-describedby="search-addon"
      (keyup)="searchPlantDialog(plantName.value)" />

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <ng-container *ngFor="let plant of plant$">
        <div class="card col-md-4 col-xl-3">
          <div class="card-header">
            <h2 class="card-title">{{plant.name}}</h2>
          </div>
          <img class="card-img-top img-responsive" src="./assets/plantsImages/{{plant.image}}" alt="{{plant.name}}">
          <div class="card-body">
            <small>{{plant.level}}</small>
            <div>
              <ul>
                <li><img class="icon" src="../../../../../assets/icons/bemesting.png" alt="bemestingIcon">Elke
                  {{plant.fertilizer_day}} dagen</li>
                <li><img class="icon" src="../../../../../assets/icons/water.png" alt="waterIcon">Elke
                  {{plant.water_day}} dagen</li>
                <li><img class="icon" src="../../../../../assets/icons/sun.png" alt="sunIcon">{{plant.suns_hday}} uur
                  per dag</li>
              </ul>
            </div>
            <div class="card-footer">
              <button class="btn" (click)="openPlantDialog(plant.id)">meer info</button>
              <button *ngIf="searched" class="btn m-3" (click)="ngOnInit()">All Planten</button>
            </div>
          </div>
        </div>
      </ng-container>

    </div>