<app-header (toggledEvent)="drawer.toggle()"></app-header>

<mat-drawer-container autosize>
    <mat-drawer #drawer mode="side">
        <mat-nav-list>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="tuin">
                <mat-icon>home</mat-icon> Tuin
            </a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="planten">
                <mat-icon>dashboard</mat-icon> Planten
            </a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="community">
                <mat-icon>people</mat-icon> Community
            </a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="notities">
                <mat-icon>book</mat-icon> Notities
            </a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="herinnering">
                <mat-icon>alarm</mat-icon> Herinnering
            </a>
        </mat-nav-list>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-card class="main-content">
            <mat-card-content>
                <router-outlet></router-outlet>
            </mat-card-content>
        </mat-card>
    </div>

</mat-drawer-container>